<div class="rpgui-container framed" style="width: 100%; height: 100%;">
        <!--Top Div/user and boss information-->
        <div id="mainBattleDiv" >
            <div class="row">
                <div class="col-4" >
                        
                    <div class="rpgui-container framed-golden-2 rgui-content" id="statsdiv">

                        <h2 style="color:black;">Your HP</h2>
                            <hr class="golden" style="color:gold">
                        <!--user health bar-->
                        <div id="hp-bar" data-value="1" class="rpgui-progress green" data-rpguitype="progress">
                            <div class=" rpgui-progress-track">
                                <div class=" rpgui-progress-fill red" style="left: 0px; width: 10%;">
                                </div>
                            </div>
                            <div class="rpgui-progress-left-edge">
                            </div>
                            <div class="rpgui-progress-right-edge">
                            </div>
                        </div>

                        <h2 style="color:black; margin-top:7em;">Your Stats</h2>
                            <hr class="golden" style="color:gold">
                        <ul>
                            <li>Attack:<span id="showAttack">{{attack}}</span></li>
                            <br>
                            <li>Heal:<span id="showHeal">
                                
                                {{#if heal}}
                                    0 left
                                {{else}}
                                    1 left
                                {{/if}}

                            </span></li>
                            <br>
                            <li>Block:<span id="showBlock">

                                {{#if block}}
                                    0 left
                                {{else}}
                                    1 left
                                {{/if}}

                            </span></li>
                        </ul>
                       
                        
                    </div>

                </div>
                <br>
                <div class="col-7" >

                    <div class="rpgui-container framed-golden-2" id="bossdiv">
                        <h1>{{enemyName}}</h1>
                        <!--Boss health bar-->
                        <div id="hp-bar" data-value="1" class="rpgui-progress red" data-rpguitype="progress">
                            <div class=" rpgui-progress-track">
                                <div class=" rpgui-progress-fill red" style="left: 0px; width: 10%;">
                                </div>
                            </div>
                            <div class=" rpgui-progress-left-edge">
                            </div>
                            <div class=" rpgui-progress-right-edge">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <img src="{{enemyImgPath}}" alt="" id="bossimage">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr class="golden">
        <br>
        <!--Bottom div/action options-->
        <div id="actionDiv">
            <div class="row rpgui-center">
                <div class="col">
                    <button id="attackBtn" type="button" class="rpgui-button" style="width:32%;">
                        <p>Attack</p>
                    </button>
                </div>
                <div class="col">
                    <button id="blockBtn" type="button" class="rpgui-button" style="width:32%;">
                        <p>Block</p>
                    </button>
                </div>
                <div class="col">
                    <button id="healBtn" type="button" class="rpgui-button" style="width:32%;">
                        <p>Heal</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
